@model IEnumerable<akademikArama.Models.EklemeSayfasiModel>
@{
    ViewBag.Title = "Ekleme Sayfası";
}

<h2>EklemeSayfasi</h2>

<div class="ortala">
    @using (Html.BeginForm("EklemeSayfasi", "Admin", FormMethod.Post))
    {
        @Html.TextBox("ArastirmaciID", "", new { placeholder = "Arastirmaci ID" })
        @Html.TextBox("ArastirmaciAdi", "", new { placeholder = "Araştırmacı Adı" })
        @Html.TextBox("ArasirmaciSoyadi", "", new { placeholder = "Araştırmacı Soyadı" })
        @Html.TextBox("YayinID", "", new { placeholder = "Yayın ID" })
        @Html.TextBox("YayinAdi", "", new { placeholder = "Yayın Adı" })
        @Html.TextBox("YayinYili", "", new { placeholder = "Yayın Yılı" })
        @Html.TextBox("YayinTuruID", "", new { placeholder = "Yayın Turu ID" })
        @Html.TextBox("YayinTuru", "", new { placeholder = "Yayın Türü" })
        @Html.TextBox("YayinYeri", "", new { placeholder = "Yayın Yeri" })
        <input type="submit" value="Ekle" />
    }
</div>
<br />
<div class="ortala">
    @using (Html.BeginForm("SilmeSayfasi1", "Admin", FormMethod.Post))
    {
        @Html.TextBox("ArastirmaciID", "", new { placeholder = "Arastirmaci ID" })
        <input type="submit" value="ArastirmaciSil" />
    }
    @using (Html.BeginForm("SilmeSayfasi2", "Admin", FormMethod.Post))
    {
        @Html.TextBox("YayinID", "", new { placeholder = "Yayın ID" })
        <input type="submit" value="YayinSil" />
    }
    @using (Html.BeginForm("SilmeSayfasi3", "Admin", FormMethod.Post))
    {
        @Html.TextBox("YayinTuruID", "", new { placeholder = "Yayın Turu ID" })
        <input type="submit" value="YayinTuruSil" />
    }
</div>
<div class="tablo" , id="arastirmacilarListesi">
    <table class="table table-striped">
        <caption>Arastırmacılar Listesi</caption>
        <thead>
            <tr>
                <th>Arastırmacı ID</th>
                <th>Arastırmacı Adı</th>
                <th>Arastırmacı Soyadı</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td>Kayıt Yok</td>
                </tr>
            }
            else
            {
                foreach (var i in Model)
                {
                    if (i.ArastirmaciID != 0)
                    {
                        <tr>
                            <td>@i.ArastirmaciID</td>
                            <td>@i.ArastirmaciAdi</td>
                            <td>@i.ArasirmaciSoyadi</td>
                        </tr>
                    }
                }
            }
            @if (ViewBag.Message != null)
            {
                <tr>
                    <td>@ViewBag.Message</td>
                </tr>
            }
        </tbody>

    </table>
</div>

<div class="tablo" id="yayinlarListesi">
    <table class="table table-striped">
        <caption>Yayınlar Listesi</caption>
        <thead>
            <tr>
                <th>Yayın ID</th>
                <th>Yayın Adı</th>
                <th>Yayın Yılı</th>
                <th>Yayın Turu ID</th>
                <th>Yayın Türü</th>
                <th>Yayın Yeri</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td>Kayıt Yok</td>
                </tr>
            }
            else
            {
                foreach (var i in Model)
                {

                    if (i.YayinAdi != "" && i.YayinID != 0)
                    {
                        <tr>
                            <td>@i.YayinID</td>
                            <td>@i.YayinAdi</td>
                            <td>@i.YayinYili</td>
                            <td>@i.YayinTuruID</td>
                            <td>@i.YayinTuru</td>
                            <td>@i.YayinYeri</td>
                        </tr>
                    }

                }
            }

        </tbody>

    </table>
</div>
